### Introduction

This notebook documents the data preparation process for the provided dataset, which is based on a random sample of farm households in a district in Tanzania. The dataset includes information about household characteristics, land ownership, and income. The objective of this data preparation is to correct errors in the income data for villages "D" and "G," where income is reported in TZS instead of 1,000 TZS.

In [1]:
import pandas as pd
data = pd.read_csv("data_exercise.csv")
data.head()

,hhNum,village,sex,age,educ,hhSize,landOwned,landCultivated,fo,income
0,1,A,male,68.705267,3,6,9.8,3.7,0,278.0
1,2,A,male,82.634070,1,5,7.1,7.0,1,936.0
2,3,A,male,24.376793,6,5,9.1,5.4,0,584.0
3,4,A,male,75.388073,1,5,7.6,5.6,0,567.0
4,5,A,male,71.947722,1,5,13.1,3.7,0,181.0

### Data Correction:
To correct the income data errors in villages "D" and "G,":

1. For villages "D" and "G," the income values were divided by 1,000 to convert them to 1,000 TZS. Other village data was left unchanged.

In [3]:
data.loc[data['village'].isin(['D', 'G']), 'income'] /= 1000

### Storing the updated dataframe
The income data in villages "D" and "G" has been corrected to ensure uniformity with other village.

In [4]:
data.to_csv("qn1_corrected_data_exercise.csv", index=False)